<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="RealTimeExcercise.testng_GoogleTitle">
			  <parameter name="input" value="cricket"></parameter>
		  </class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
